<%= error_messages_for(@login_page) %>
<div class="ban">
  <table class="simple_form" >
    <%= simple_form_for(:login_page, :url => {:action => 'create'}) do |f| %> 
      <%= f.error_notification %>  
      <tr><td><%= f.input :user_id , label: 'User Id :', input_html: { maxlength: 25},required: true,autofocus: true%></td></tr>
      <tr> <td> <%= f.input :name, label: 'User Name :' , input_html: { maxlength: 50 },required: true%></td></tr>
      <tr>  <td>  <%= f.input :password , hint: ' (No special characters.)', input_html: { maxlength: 25 },required: true%></td><</tr>
      <tr>   <td> <%=f.input :gender, input_html: { maxlength: 20 },collection:[:male, :female] %></td><</tr>
      <tr>  <td> <%=f.input :email , placeholder: 'user@domain.com', input_html: { maxlength: 20 },required: true%></td><</tr>
      <tr>  <td> <%=f.input :mobile , input_html: { maxlength: 10 },required: true%></td><</tr>
      <tr> <td> <%=f.input :city, input_html: { maxlength: 50 },required: false %></td><</tr>
      <tr> <td> <%= f.input :Age, collection: 18..70,prompt: "Select your age"%></td><</tr>
      <tr> <td> <%= f.input :country, as: :country,prompt: "Select your country"%></td><</tr> 
      <tr> <td>  <%=f.input :remember_me, input_html: { maxlength: 20 },collection:[:Yes, :No] %></td><</tr>
    <% end %>
   
  </table>
</div>
