<% @page_title = "Show Forms Info" %>


<div class= "ban">
<h2>Showing Data</h2>

<table >
    <tr>
      <th>Id</th>
      <td><%= @login_page.id %></td>
    </tr>
    <tr>
      <th>User Id</th>
      <td><%= @login_page.user_id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @login_page.name %></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><%= @login_page.password %></td>
    </tr>
    
    <tr>
      <th>Age</th>
      <td><%= @login_page.Age %></td>
    </tr>
    <tr>
    <tr>
      <th>Gender</th>
      <td><%= @login_page.gender %></td>
    </tr>
    <tr>
      <th>Email Id</th>
      <td><%= @login_page.email %></td>
    </tr>
    <tr>
      <th>Mobile Number</th>
      <td><%= @login_page.mobile %></td>
    </tr>
     <tr>
      <th>City</th>
      <td><%= @login_page.city %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= @login_page.country %></td>
    </tr>
    <tr>
      <th>Created On</th>
      <td><%= @login_page.created_at %></td>
    </tr>
    <tr>
      <th>Updated On</th>
      <td><%= @login_page.updated_at %></td>
    </tr>
</table>
<br />
<%= link_to("<< Back to List", {:action=> 'index'}, :class=> 'back-linking') %>
</div>